{{ template "header" .}}
  <form id="form" name="form" action="/reserves/new" method="POST">
    <div class="form-group">
        <label for="date">予約日</label>
        <p><input type="date" id="date" name="date" class="today"></input></p>
        
        <label for="content">内容 <span class="badge badge-danger">必須</span></label>
        <p>
          <select id="content" name="ContentID">
          <option value=""></option>
            {{range .}}
              <option value="{{ .ID }}">{{ .Name }}</option>
            {{end}}
        </select>
      </p>
      <p><button id="button" name="button" class="btn btn-lg btn-primary" type="button">予約</button></p>
    </div>
  </form>
{{ template "footer" .}}